<nav class="navbar navbar-expand-sm navbar-light">
      <div class="container align-items-center">
        <a class="navbar-brand" href="#">ValoApi</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item link-show">
                    <a class="nav-link" routerLink="/agents">Agents</a>
                </li>
                <li class="nav-item link-show">
                    <a class="nav-link" routerLink="/weapons">Weapons</a>
                </li>
                <li class="nav-item link-show">
                    <a class="nav-link" routerLink="/maps">Maps</a>
                </li>
            </ul>
        </div>
  </div>
</nav>
