:root {
    --animate-delay: 0.5s;
}
.title__main-home{
    display: flex;
    justify-content: center;
    align-self: center;
}
.container__title-home{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 13em;
}