:root {
    --animate-delay: 0.5s;
}
.container_main{
    background-image: url("assets/kethaka-vidyananda-1.jpg");
    padding: 0 10em;
}
.container__main-home{
    height: 100vh;
    text-align: center;
    background: rgb(98,166,158);
    background: linear-gradient(90deg, rgba(98,166,158,1) 0%, rgba(121,149,146,1) 30%, rgba(156,92,113,1) 100%);
}
.title__main-home{
    display: flex;
    justify-content: center;
    align-self: center;
}
.container__title-home{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 13em;
}